* {
  box-sizing: border-box;
}

a {
  -ms-touch-action: none;
}

body {
  -ms-touch-action: none;
}

body,
input,
select,
ul {
  border: 0;
  font-family: 'Segoe WP', 'Helvetica Neue', 'Roboto';
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}


input {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  outline: 0;
}

select:focus {
  background: transparent;
}

select::-ms-expand {
  display: none;
}

.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

.static-controls {
  left: 0;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.chapter-selection {
  background: #fa0;
  color: #000;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 5px 0 5px 10px;
  position: relative;
  width: 100%;

  select {
    border: 0;
    font-size: 1.15em;
    margin-left: 10px;
    width: calc(100% - 50px);
  }
}

.chapter-selection select,
.hamore-avatar {
  display: inline-block;
  vertical-align: middle;
}

.hamore-avatar {
  background-image: image-url('avatar-hamore.png');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 25px;
  height: 40px;
  width: 40px;
}

.chapter-arrow {
  background-image: image-url('util-dropdown.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  bottom: 0;
  display: block;
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 0;
  width: 25px;
}

.message-box {
  background: #eee;
  border-top: solid #b88 1px;
  padding: 5px;
}

#message-input {
  border: 1px solid #ddd;
  box-shadow: none;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 7px .5em 7px 0;
  width: 100%;
}

.chat-box {
  bottom: 0;
  left: 0;
  min-height: 2em;
  overflow: hidden;
  position: absolute;
  top: 104px;
  width: 100%;
}

.chat-bubble,
.chat-typing {
  background: #ddd;
  clear: both;
  display: block;
  margin: 5px 0;
  margin-top: -10px;
  max-width: 70%;
  padding: .4em .5em;
}

.chat-bubble:first-child {
  margin-top: .75em;
}

.chat-typing {
  border-radius: 15px;
}

.chat-bubble[data-sender='more'],
.chat-typing[data-sender='more'] {
  background: #ffd37a;
  float: left;
}

.chat-bubble[data-sender='you'],
.chat-typing[data-sender='you'] {
  background: #9e9;
  float: right;
}

.chat-bubble[data-sender='more'] {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 10px;
}

.chat-bubble[data-sender='you'] {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 15px;
}

#hamore-logo {
  background-color: rgb(255, 244, 54);
  background-image: image-url('startup-2048x1496.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;

  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
}

@media only screen
and (orientation : portrait) {
  #hamore-logo {
    background-image: image-url('startup-640x920.png');
    background-position: center;
  }
}
