{{#each messages ~}}
    <li class="chat-bubble" data-sender="{{from}}">
        <a name="msg-{{id}}"
           {{#if rtl}}
               dir="rtl"
           {{/if}}
        >{{text}}</a>
    </li>
{{~/each}}
