{{#each messages ~}}
    <a
        name="msg-{{id}}"
        class="chat-bubble"
        {{#if rtl}}
            dir="rtl"
        {{/if}}
        data-sender="{{from}}"
    >{{text}}</a>
{{~/each}}
